  <td class="customer-cell customer-name"><%= customer.escape('name') %></td>
  <td class="customer-cell"><%= customer.escape('legal_form') %></td>
  <td class="customer-cell"><a id="delete" href="#customers/delete/<%= customer.get('id') %>">Delete</a></td>
