  <td class="customer-cell customer-name ui-widget-content"><%= customer.escape('name') %></td>
  <td class="customer-cell ui-widget-content"><%= customer.escape('legal_form') %></td>
  <td class="customer-cell ui-widget-content"><a id="delete" href="#customers/delete/<%= customer.get('id') %>">Delete</a></td>
