<h2><a href="#customers/create">Create a customer</a></h2>
<div id="message" class="message"></div>
<div>
<table class="customer-table">
  <tbody id="customer-table-body">
  <tr>
    <th class="customer-header">Company</th>
    <th class="customer-header">Legal Form</th>
    <th class="customer-header"/>
  </tr>
 </tbody>
</table>
<p class="information">Double-click a record to edit it</p>
</div>
