<h1>Backbone CRM</h1>
<div id="content"></div>
<%= include_javascripts :app, :jquery %>
<%= include_stylesheets :jquery %>
<script type="text/javascript">
  $(function() {
      App.init();
      });
</script>

