<h1>Project Management</h1>
<div id="content"></div>
<br/>
<div id="subcontent"></div>
<%= include_javascripts :app %>
<script type="text/javascript">
  $(function() {
      App.init();
      });
</script>

